[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/nillerusr/source-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/nillerusr/source-physics
[submodule "lib"]
	path = lib
	url = https://github.com/nillerusr/source-engine-libs.git
[submodule "openxr_sdk"]
	path = openxr_sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "dxvk_native"]
	path = dxvk_native
	url = https://github.com/doitsujin/dxvk.git
